body{
	font: 16px Bahnschrift Condensed;
	height: 1200px;
}

.h5 {
	color: white;
}




  /**********Menu*******/




#menu {
	background: #ff5900;
	width: 50%;
	float: left;
	height: 90px;
	border: none;
	display:inline-block; 
	line-height: 0px;
	z-index: 1;
}

#menu a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding: 30px;
	display:inline-block;
	z-index: 2;
  }	 


  #menu  ul {
	display: inline;
	margin: 0;
	padding: 0;
  }
  #menu ul li {display: inline-block;}
  
  
  //#menu ul li:hover {background: #aa2828;}
  
  #menu ul li:hover ul {display: block;}
  
  #menu ul li ul {
	position: absolute;
	width: 200px;
	display: none;
	z-index: 3;
  }

 #menu ul li ul li { 
	background: #ff59007e; 
	display: block; 
  }

/**********Submemnu*******/

#submenu {
	width: 20%;
	float: right;
	border: none;
	line-height: 0px;
	z-index: 1;
  }

  #submenu a {
	text-decoration: none;
	font-size: 20px;
	padding: 30px;
	display:inline-block;
	top: 0px;
	z-index: 1;
  }

  #submenu ul li {display: inline-block;} 
    
  #submenu ul li:hover a {color: #ffffff;}



  /**********Imagens*******/

  #imag {
	background: #ff5900;
	position: absolute;
	width: 100%;
	top: 105px;
  }
 .carousel-inner{
	height: 400px;
  }

}#pag {
	background: #ff5900;
	width: 800px;
	height: 800px;
	position: absolute;
	padding: 35px;
}

#pesquisa {
	background: #ffffffb4;
	position: absolute;
	height: 400px;
	width: 16%;
	top: 530px;
	left: 15px;
	float: left;
}

#recente {
	background: #ffffffb4;
	position: absolute;
	height: 400px;
	width: 80%;
	top: 530px;
	right: 15px;
	float: right;
}